<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EOMS</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <link rel="icon" href="/static/fonts/favicon.ico">

    <style>
        .hide {
            display: none;
        }
    </style>
</head>

<body>
{% include 'top.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'left.html' with activecss1='active' %}
        <div id="content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
             style="padding-right:30px; padding-left: 30px;
             padding-left:30px;
             -webkit-transition: margin 0.3s ease;
             -moz-transition: margin 0.3s ease;
             -o-transition: margin 0.3s ease;
             transition: margin 0.3s ease;">

            <blockquote style="border-left-color: #428bca; padding: 5px 20px;">
                <p style="font-size: 15px;">实例概况</p>
            </blockquote>

            <div style="padding-top: auto">
                <hr style="margin-bottom: 10px">
            </div>


        </div>
    </div>
</div>


<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/utils/del_session.js"></script>
<script src="/static/js/utils/sidebar_folding.js"></script>
<script src="/static/js/utils/menu-icon.js"></script>

</body>
</html>