<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EOMS</title>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <link rel="icon" href="/static/fonts/favicon.ico">

    <style>
        .hide {
            display: none;
        }
    </style>

</head>

<body style="overflow: hidden">
{% include 'top.html' %}

<div class="container-fluid">
    <div class="row">
        {% include 'left.html' with activecss2='active' %}

        <div id="content"
             class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"
             style="position: absolute;
             right: 0;
             padding-right: 30px;
             padding-left:30px; overflow-y: auto; bottom: 0;top: 50px">

            <blockquote style="border-left-color: #428bca; padding: 5px 20px;">
                <p style="font-size: 15px;">实例列表</p>
            </blockquote>


            <div style="padding-top: auto;">

                <hr style="margin-bottom: 10px">
                <div style="float: left; width: 40%;">
                    <form class="bs-example bs-example-form" role="form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="input-group">
                                    <input type="text" class="form-control">
                                    <span class="input-group-btn">
						<button class="btn btn-default" type="button">
							<span class="glyphicon glyphicon-search"></span>
						</button>
					</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div style="float: right;">

                    <button type="button" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> 批量删除
                    </button>
                </div>
                {##}
                <div style="float: right; margin-right: 10px;">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal"
                            data-whatever="@mdo">
                        <span class="glyphicon glyphicon-plus"></span> 创建实例
                    </button>
                </div>

                <div style="float: right; margin-right: 10px;">
                    <button style="width: 50px" type="button" class="btn btn-default" data-toggle="tooltip"
                            data-placement="left" title="刷新">
                        <span class="glyphicon glyphicon-refresh"></span>
                    </button>
                </div>

            </div>


            <div style="clear:both; padding-bottom: 10px"></div>


            <div class="table-responsive">
                <table class="table table-bordered table-hover table-condensed">
                    <thead>
                    <tr>
                        <th width="35px" style="text-align:center; vertical-align:middle">
                            <input type="checkbox" value="">
                        </th>
                        <th style="text-align:center; vertical-align:middle">序号</th>
                        <th style="text-align:center; vertical-align:middle">主机名</th>
                        <th style="text-align:center; vertical-align:middle">IP地址</th>
                        <th style="text-align:center; vertical-align:middle">SSH端口</th>
                        <th style="text-align:center; vertical-align:middle">业务线</th>
                        <th width="120px" style="text-align:center; vertical-align:middle">编辑实例</th>
                        <th width="120px" style="text-align:center; vertical-align:middle">删除实例</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for host in hosts %}
                        <tr>
                        <td style="text-align:center; vertical-align:middle">

                            <input type="checkbox" value={{ host.id }}>

                        </td>
                        <td style="text-align:center; vertical-align:middle">{{ forloop.counter }}</td>
                        {#                            <td name = "td_id" id={{ host.id }} class="hide">{{ host.id }}</td>#}
                        <td style="text-align:center; vertical-align:middle">{{ host.hostname }}</td>
                        <td style="text-align:center; vertical-align:middle">{{ host.ip }}</td>
                        <td style="text-align:center; vertical-align:middle">{{ host.port }}</td>
                        <td style="text-align:center; vertical-align:middle">{{ host.business__name }}</td>

                        <td style="text-align:center; vertical-align:middle">
                            <button style="font-size: 8px;" data-id="{{ host.id }}" data-toggle="modal"
                                    data-target="#"
                                    data-whatever="@mdo" type="button" class="btn btn-primary">
                                <span class="glyphicon glyphicon-cog"></span> 编辑主机
                            </button>

                        </td>

                        <td style="text-align:center; vertical-align:middle">

                            <button style="font-size: 8px;" data-id="{{ host.id }}" data-toggle="modal"
                                    data-target="#del_host_jump"
                                    data-whatever="@mdo" id="del" type="button" class="btn btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> 删除主机
                            </button>

                        </td>

                    {% endfor %}
                    </tr>

                    {% include 'del/host.html' %}
                    {% include 'add/host.html' %}
                    </tbody>
                </table>

                <div style="float: right; margin-top:0px">

                    <ul class="pagination">
                        {{ page_str }}
                    </ul>

                </div>


                <div style="float: right; margin-right: 15px; margin-top: 28px">

                    <span style="color: #5a6268">共有{{ all_count }}条， 每页显示：</span>

                    <select id="page_size" onchange="ChangePageSize(this)">
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                    <span style="color: #5a6268">条</span>

                </div>

            </div>


            <div style="clear:both;"></div>

        </div>
    </div>
</div>
</div>


<script src="/static/jquery/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/jquery/jquery.cookie.js"></script>
<script src="/static/js/utils/del_session.js"></script>
<script src="/static/js/utils/sidebar_folding.js"></script>
<script src="/static/js/utils/left_menu_collapse.js"></script>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<script>
    function showMsg() {
        console.log($("#business_select").val());
    }
</script>


{# 删除主机 #}
<script>

    var modal = $("#del_host_jump");
    modal.on("shown.bs.modal", function (event) {
        // 这里的btn就是触发元素，即你点击的删除按钮
        var btn = $(event.relatedTarget),
            _id = btn.data("id");

        $("#del_host_id").val(_id);
    });

    $("#deleteOkBtn").click(function () {
        var _id = $("#del_host_id").val();
        {#console.log(_id);#}

        $.ajax({
            url: "/cmdb/hosts",
            type: "POST",
            data: {
                "_type": "del_host",
                "_id": _id
            },
            success: function (data) {
                {#alert(data);#}
                var obj = JSON.parse(data);

                if (obj.type === "del_host") {
                    if (obj.status) {
                        location.reload();
                    } else {
                        alert(obj.error);
                    }
                }
            }
        })
    })

</script>

{# 添加主机信息 #}
<script>
    $("#host_submit").click(function () {
        $.ajax({
            url: "/cmdb/hosts",
            type: "POST",
            data: {
                "_type": "add_host",
                "hostname": $("#hostname").val(),
                "ip": $("#IP").val(),
                "port": $("#port").val(),
                "business": $("#business_select").val()
            },
            success: function (data) {
                {#alert(data);#}
                var obj = JSON.parse(data);

                if (obj.type === "add_host") {
                    if (obj.status) {
                        location.reload();
                    } else {
                        alert(obj.error);
                    }
                }
            }
        })
    });
</script>

<script>
    function ChangePageSize(ths) {
        var v = $(ths).val();

        $.cookie('per_page_count', v);
        location.reload();
    }
</script>

<script>
    $(function () {
        var v = $.cookie('per_page_count');

        if (v) {
            $("#page_size").val(v);
        }
        else {
            $.cookie('per_page_count', 20);
            $("#page_size").val(20);
        }
    })
</script>

</body>
</html>